<app-modal
  [isOpen]="isOpen"
  title="メンバー削除"
  size="md"
  customClass="delete-confirm-modal"
  (closed)="onClose()"
>
  @if (modalType === 'confirm') {
  <ng-container>
    <!-- Confirmation Mode -->
    <div class="modal-text-container">
      <p class="modal-text">選択したメンバーを削除します。</p>
      <p class="modal-text">よろしいですか？</p>
    </div>

    <div modal-actions class="actions-row">
      <button class="btn-secondary" (click)="onClose()">キャンセル</button>
      <button class="btn-primary" [disabled]="isSaving" (click)="onConfirm()">
        @if (isSaving) {
        <span class="loading loading-spinner loading-sm"></span>
        } @else { 削除 }
      </button>
    </div>
  </ng-container>
  } @else {
  <ng-container>
    <!-- Completion Mode -->
    <p class="modal-text">削除完了しました。</p>

    <div modal-actions class="actions-row">
      <button class="btn-secondary" (click)="onClose()">閉じる</button>
    </div>
  </ng-container>
  }
</app-modal>
