@use "../../../../styles/tokens" as *;

.colorGrid {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.colorOption {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0;

  &:hover {
    transform: scale(1.05);
  }

  &.selected {
    border-color: #066a9e;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
