@use "../../../../../shared/styles/tokens" as *;

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  background: $white;
  border: 1px solid $border-gray;
  border-radius: 9999px;
  box-shadow: $shadow-input;
  transition: all $transition-default $transition-timing;

  &:hover,
  &:focus-within {
    background-color: #f4fafb;
    border-color: $avatar-bg;
  }
}

.input {
  flex: 1;
  font-size: 13px;
  color: $text-dark;
  outline: none;
  border: none;
  background: transparent;

  &::placeholder {
    color: $text-gray;
  }
}

.micButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition: background-color $transition-default $transition-timing;

  &:hover {
    background-color: $gray-100;
  }
}

.sendButton {
  transition: opacity $transition-default $transition-timing;

  &:hover {
    opacity: 0.9;
  }
}
