@use "../../../styles/tokens" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  min-height: calc(100vh - 89px - 94px);
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
