@use "../../../styles/tokens" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
}

.chatContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 89px - 94px);
  background-color: $white;
  padding: 50px 75px;
}

.messagesArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  overflow: hidden;
}

.messagesWrapper {
  width: 100%;
  max-width: 800px;
  flex: 1;
  overflow: hidden;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
